.btn {
    top: 50%;
    background-color: var(--accent-collor);
    color: var(--text-icon-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--primary-text-color);
}
